<div class="cards-servicos">

    <!-- cartão 1 -->
     <div class="column">
   <div class="card text-white bg-secondary mb-3">
  <div class="card-header"><h5>Software personalizado</h5></div>
  <div class="card-body">
    <p class="card-text">Criamos o software ideal para alavancar a sua empresa ou comércio.</p>
  </div>
</div>  
</div>

<!-- cartão 2 -->
<div class="column">
  <div class="card text-white bg-secondary mb-3">
  <div class="card-header"><h5>Landing page</h5></div>
  <div class="card-body">
    <p class="card-text">Desenvolvemos landing pages profissionais para impulsionar seu negócio.</p>
  </div>
</div>  
</div>

<!-- cartão 3 -->
<div class="column">
  <div class="card text-white bg-secondary mb-3">
  <div class="card-header"><h5>Portifólios</h5></div>
  <div class="card-body">
    <p class="card-text">Criamos portifólios profissionais para mostrar seu trabalho.</p>
  </div>
</div>  
</div>
</div>