 <div id="carouselDepoimentos" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">

    <!-- Card 1 -->
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <div class="card shadow" style="max-width: 400px;">
          <div id="card" class="card-body text-center">
            <img 
              src="/assets/img/cliente1.avif"
              class="rounded-circle mb-3"
              alt="Cliente 1"
              width="100"
              height="100"
            >
            <h5 class="card-title">João Silva</h5>
            <p class="card-text">
              “Excelente serviço! Recomendo muito. Atendimento rápido e de qualidade.”
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <div class="card shadow" style="max-width: 400px;">
          <div id="card" class="card-body text-center">
            <img 
              src="/assets/img/cliente2.jpg"
              class="rounded-circle mb-3"
              alt="Cliente 2"
              width="100"
              height="100"
            >
            <h5 class="card-title">Maria Oliveira</h5>
            <p class="card-text">
              “Fiquei muito satisfeita com o resultado. Com certeza voltarei!”
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>

  <!-- Controles -->
   
    <button class="carousel-control-prev" type="button"
    data-bs-target="#carouselDepoimentos" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button"
    data-bs-target="#carouselDepoimentos" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>