#carouselDepoimentos {
  max-width: 500px;
  margin: auto;

}

#card {
  background-color: rgb(131, 131, 133);
   width: 400px;
}

/* setas */
#carouselDepoimentos span {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 480px) {
  #card {
     width: 100%;
    max-width: 260px;
    font-size: 16px;
    padding: 12px;
  }
}